.navbar-inverse {
    background-color: #00315c;
    border-color: #00315c;
}

body {
    /*background-color: #00315c;*/
    background-color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
    color: #3bb4ff;
}

.myrow {
    margin-top: 100px;
    margin-bottom: 100px;
}

.justifybutton {
    text-align: center;
}

.mybutton {
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: #00315c;
    padding: 6px 12px 6px 12px;
    text-decoration: none;
}

.mybutton:hover {
    background: #3085ba;
    text-decoration: none;
    color: white;
}

.mybutton:focus {
    background: #3085ba;
    text-decoration: none;
    color: white;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    background-color: #00315c !important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #3085ba !important;
}

.logintopspace {
    margin-bottom: 64px;
}

.img-course {
    width: 300px;
    height: auto;
}

.loginbottomspace {
    margin-bottom: 136px;
}

.joinbottomspace {
    margin-bottom: 64px;
}

.jointopspace {
    margin-bottom: 32px;
}

.indexwelcometo {
    font-size: 22px;
    margin-bottom: 0px;
    font-weight: 500;
}

.indextitle {
    font-size: 100px;
    margin-top: -8px;
    font-weight: 600;
}

.indexbar1 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.indexbar2 {
    padding-top: 16px;
    padding-bottom: 12px;
    background-color: #551503;
}

.indexdescription {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 10px;
    color: white;
}

.playdescription {
    padding-left: 380px;
    padding-right: 380px;
    font-size: 18px;
    color: black;
    margin-bottom: 32px;
    text-align: justify;
}

.indexbar3 {
    padding-top: 32px;
    padding-bottom: 16px;
    background-color: white;
}

.indexbar4 {
    padding-top: 16px;
    padding-bottom: 32px;
    background-color: white;
}

.indexrow {
    margin-left: 16px;
    margin-right: 16px;
}

.previewtitle {
    font-size: 22px;
    margin-top: -2px;
    font-weight: 600;
}

.previewdescription {
    margin-bottom: 16px;
    font-size: 14px;
    margin-top: 0px;
}

.previewcol {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

.indexbtwnspace {
    padding-bottom: 16px;
    background-color: #f2f2f2;
}

.indexbaradmin1 {
    padding-top: 10px;
    padding-bottom: 16px;
    background-color: #f2f2f2;
    margin-left: 8px;
    margin-right: 8px;
}

.indexbaradmin-row {
    margin-left: -6px;
}

.indexdashboard {
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 6px;
    font-size: 22px;
}

.viewcoursep {
    margin-top: 64px;
    margin-bottom: 64px;
}

.tier2banner {
    background: url(/usersc/images/tier2_banner_new_blue.jpg) no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 505px;
    margin-bottom: 0;
}

.tier3banner {
    background: url(/usersc/images/tier3bannerv2.jpg) no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 505px;
    margin-bottom: 0;
}

.wlsbanner {
    background: url(/usersc/images/wlsbanner_v2.jpg) no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 505px;
    margin-bottom: 0;
}

.blbanner {
    background: url(/usersc/images/bl_banner.jpg) no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 505px;
    margin-bottom: 0;
}

.pagetier2 {
    padding-top: 0 !important;
}

.tier2display {
    margin-top:240px;
    font-weight: 600;
    font-size: 32px !important;
    margin-bottom: 0;
    color: white !important;
}

.tier2display2 {
    font-weight: 600;
    font-size: 83px !important;
    margin-top: 0;
    margin-bottom: 0;
    color: white !important;
}

.tier2display3 {
    font-weight: 600;
    font-size: 83px !important;
    margin-top: -16px;
    margin-bottom: 0;
    color: white !important;
}

.indexbarplay {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: white;
}

.managercheck {
    margin-top: 0;
    margin-bottom: 32px;
}

.row-card-left {
    padding-left: 16px;
    padding-right: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #f6f6f6;
    margin-right: 0px;
}

.row-card-right {
    padding-left: 8px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #f6f6f6;
    margin-left: 0px;
}

.index-logo {
    margin-left: 16px;
}

/* ---- usersc/login.php ---- */

.login-logo {
    width: 300px;
    height: auto;
}

.forgot-password-row {
    margin-bottom: 70px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #login-row {
        padding-left: 140px;
        padding-right: 140px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    #login-row {
        padding-left: 250px;
        padding-right: 250px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    #login-row {
        padding-left: 350px;
        padding-right: 350px;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #00315c;
}
